.figure-black, .figure-white {
    font-size: 60px;
    max-height: 60px;
    cursor: pointer;
}

/*  DARK THEME   */

.dark-theme {
    z-index: 5;
    color: rgb(186, 174, 146);
    background-color: rgb(22, 21, 18);
}

/*  HEADER    */
.dark-theme header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.dark-theme .logo_header{
    z-index: 5;
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
    color: rgb(186, 174, 146);
}

.dark-theme .login_href {
    z-index: 5;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(186, 174, 146);
}

.dark-theme .settings, .dark-theme .fon, .dark-theme .style-figures, .dark-theme .style-board, .dark-theme .light, .dark-theme .dark, 
.dark-theme .figure_settings {
    z-index: 5;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(186, 174, 146);
}

.dark-theme .setting_exit {
    z-index: 5;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(186, 174, 146);
    border-bottom: solid rgb(78, 75, 69);
}

.dark-theme .game_header, .dark-theme .edu_header {
    z-index: 5;
    padding: 10px;
    margin-top: 8px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(186, 174, 146);
}

.dark-theme .logo_header:hover, .dark-theme .login_href:hover, .dark-theme .settings:hover, .dark-theme .fon:hover, .dark-theme .dark:hover, .dark-theme 
.light:hover, .dark-theme .game_header:hover, .dark-theme .edu_header:hover, .dark-theme .style-figures:hover, .dark-theme .style-board:hover, .dark-theme 
.setting_exit:hover, .dark-theme .light:hover, .dark-theme .dark:hover, .dark-theme .figure_settings:hover {
    z-index: 5;
    color: white;
}

.dark-theme .dropdown, .dark-theme .dropdown_fon {
    z-index: 5;
    margin-top: 10px;
    position: relative;
}

.dark-theme .dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    right: -50px;
    background-color: rgb(60, 57, 52);
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgb(60, 57, 52);
    z-index: 5;
}

.dark-theme .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}