/* LIGHT THEME */
.light-theme {
    color: #333333;
    background-color: rgb(237, 235, 233)
}

/*  HEADER    */
.light-theme header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.light-theme .logo_header{
    z-index: 5;
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
    color: rgb(54, 52, 48);
}

.light-theme .login_href {
    z-index: 5;
    padding: 10px;
    color: rgb(54, 52, 48);
    font-size: 20px;
    text-decoration: none;
}

.light-theme .settings, .light-theme  .fon, .light-theme  .style-figures, .light-theme  .style-board, .light-theme .light, .light-theme .dark,
.light-theme .figure_settings {
    z-index: 5;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(54, 52, 48);
}

.light-theme .setting_exit {
    z-index: 5;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(186, 174, 146);
    border-bottom: solid rgb(187, 187, 187);
}

.light-theme .game_header, .light-theme .edu_header {
    z-index: 5;
    padding: 10px;
    margin-top: 8px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(54, 52, 48);
}

.light-theme .logo_header:hover, .light-theme  .login_href:hover, .light-theme .settings:hover, .light-theme  .fon:hover, .light-theme  .light:hover, 
.light-theme  .game_header:hover, .light-theme  .edu_header:hover, .light-theme  .style-figures:hover, .light-theme  
.style-board:hover, .light-theme .setting_exit:hover, .light-theme .light:hover, .light-theme .dark:hover, .light-theme .figure_settings:hover {
    z-index: 5;
    color: black;
}



.light-theme .dropdown, .light-theme {
    z-index: 5;
    margin-top: 10px;
    position: relative;
    color: rgb(54, 52, 48);
}

.light-theme .dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    right: -50px;
    background-color: #f1f1f1;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
    color: rgb(54, 52, 48);
}

.light-theme .dropdown-content a {
    color: rgb(54, 52, 48);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



/*  LOGIN   */
.light-theme .login_block{
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    visibility: hidden;
}

.light-theme .container_login {
    z-index: 5;
    position: absolute;
    padding: 30px;
    background-color: lightgrey;


    display: -webkit-box;


    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.light-theme .login_main_text {
    font-size: 30px;
    margin-bottom: 30px;
}

.light-theme .error {
    color: red;
    margin-bottom: 20px;
    font-size: 20px;
}

.light-theme .login_inp, .light-theme  .password_inp {
    height: 22px;
    width: 270px;
    font-size: 15px;
    margin-bottom: 30px;
}

.light-theme .login_text{
    font-size: 16px;
    margin-bottom: 5px;
}

.light-theme #enter {
    font-size: 25px;
    margin-bottom: 20px;
    width: 278px;
    background-color: blue;
    color: white;
    border: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.light-theme #enter:hover {
    background-color: #3552CF;
}


/*  MAIN   */



.light-theme main {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    visibility: visible;
}

.light-theme .container_main {
    z-index: 1;
    position: absolute;
    padding: 30px;
    background-color: lightgrey;


    display: -webkit-box;


    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.light-theme .main_href{
    z-index: 2;
    padding: 10px;
    color: black;
    font-size: 30px;
    text-decoration: none;
}

.light-theme .main_href:hover{
    z-index: 5;
    color: black;
}


.light-theme .start_game_block {
    z-index: 6;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    visibility: hidden;

}

.light-theme .container_start_game {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
 }
 

.light-theme .container_extra {
    z-index: 6;
    position: relative;
    padding-bottom: 30px;
    color: rgb(80, 80, 80);
    background-color: lightgrey;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    display: -webkit-box;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.light-theme .control_time_block {
    z-index: 6;
    padding: 20px;
    background-color: lightgrey;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 20px;
}

.light-theme .color_start_game_block {
    z-index: 6;
    padding: 20px;
    padding-bottom: 40px;
    background-color: lightgrey;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 20px;
}

.light-theme .start_game_call {
    z-index: 6;
    color: rgb(54, 52, 48);
    font-size: 30px;
    text-decoration: none;
}

.light-theme .start_game_call:hover{
    z-index: 6;
    color: black;
}

.light-theme .close {
    z-index: 8;
    position: absolute;
    width: 42px;
    height: 42px;
    top: -20px;
    left: 415px;
    font-size: 38px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background-color: lightgrey;
}

.light-theme .close:hover {
    z-index: 8;
    color: rgb(54, 52, 48);
    background-color: red;
}

.light-theme .time_control {
    z-index: 6;
    color: lightgrey;
    width: 150px;
    height: 30px;
    font-size: 18px;
    background-color: rgb(119, 118, 118);
}

.light-theme .control_time_block {
    z-index: 6;
    padding-left: 60px;
    padding-right: 60px;
    background-color: rgb(228, 228, 228);
}

.light-theme .color_control {
    z-index: 6;
    color: lightgrey;
    width: 150px;
    height: 30px;
    font-size: 18px;
    background-color: rgb(119, 118, 118);
}

.light-theme .extra_time_menu{
    z-index: 6;
    padding-top: 20px;
    padding-bottom: 10px;
    display: none;
}

.light-theme .range {
    width: 200px;
    background-color: rgb(119, 118, 118);
}
 
.light-theme input[type=range] {
    background-color: rgb(168, 168, 168);
    display: block;
    padding: 0 0.1em;
    width: 100%;
    height: 20px;

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    border: 1px solid rgb(168, 168, 168);

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.light-theme input[type='range']::-webkit-slider-thumb {
    width: 30px;
    -webkit-appearance: none;
    height: 18px;
    cursor: pointer;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    background: rgb(255, 255, 255);
}


/*  CHESS */

@media screen and (min-width: 1001px) {

    .figure-black, .figure-white {
        font-size: 60px;
        max-height: 60px;
        cursor: pointer;
    }

    .figure_img {
        width: 60px; 
        height: 60px;
    }

    .container_chess_main {
        display: flex;
        flex-direction: row;
    }

    .dark-theme .chess_block {
        z-index: 5;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        min-width: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        align-content: center;
        -webkit-box-pack: center;
        justify-content: center;

    }

    .dark-theme .container_chess {
        position: relative;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        align-content: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .dark-theme table {
        width: 640px;
        height: 640px;
        border-collapse: collapse;
        border-spacing: 0;
    }

    .dark-theme .black {
        width: 80px;
        height: 80px;
        background-color: #B98A63;

        vertical-align: center;
        text-align: center;
    }

    .dark-theme .white {
        width: 80px;
        height: 80px;
        background-color: #F0DFB5;

        vertical-align: center;
        text-align: center;
    }

    .dark-theme .menu_chess {
        margin: 30px;
        position: relative;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .dark-theme .timer{
        display: none;
        height: 50px;
        width: 100px;
        vertical-align: center;
        text-align: center;
        padding: 5px;
        background-color: rgb(54, 52, 48);
        
    }

    .dark-theme .white_time_bar, .dark-theme .black_time_bar {
        display: none;
        width: 300px; 
        margin-left: 6px;
    }

    .dark-theme .time_enter {
        color: rgb(186, 174, 146);
        font-size: 30px;
    }

    .dark-theme .container_menu {
        display: -webkit-box;
        min-width: 320px;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        height: 200px;
        background-color: rgb(54, 52, 48);
    }

    .dark-theme .right-right, .dark-theme .right, .dark-theme .left, .dark-theme .left-left, .dark-theme .reverse {
        width: 40px;
        height: 40px;
    }

    .dark-theme button {
        margin: 10px;
        border: 0;
        background-color: rgb(54, 52, 48);
    }

    .dark-theme img {
        pointer-events: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /*  LIGHT  */

    .light-theme .chess_block {
        z-index: 5;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        min-width: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        align-content: center;
        -webkit-box-pack: center;
        justify-content: center;
    
    }
    
    .light-theme .container_chess{
        position: relative;
    
        display: -webkit-box;
    
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        align-content: center;
        -webkit-box-pack: center;
        justify-content: center;
    }
    
    .light-theme table {
        width: 640px;
        height: 640px;
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    .light-theme .black {
        width: 80px;
        height: 80px;
        background-color: #B98A63;
    
        vertical-align: center;
        text-align: center;
    }
    
    .light-theme .white {
        width: 80px;
        height: 80px;
        background-color: #F0DFB5;
    
        vertical-align: center;
        text-align: center;
    }
    
    .light-theme .menu_chess {
        margin: 30px;
        position: relative;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        justify-content: center;
    }
    
    .light-theme .timer{
        display: none;
        height: 50px;
        width: 100px;
        vertical-align: center;
        text-align: center;
        padding: 5px;
        background-color: lightgrey;
        
    }
    
    .light-theme .white_time_bar, .light-theme .black_time_bar {
        
        display: none;
        width: 300px; 
        margin-left: 6px;
    }
    
    .light-theme .time_enter {
        color: rgb(0, 0, 0);
        font-size: 30px;
    }
    
    .light-theme .container_menu {
        display: -webkit-box;
        min-width: 320px;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        height: 200px;
        padding-top: 10px;
        background-color: lightgrey;
    }
    
    .light-theme .right-right, .light-theme .right, .light-theme .left, .light-theme .left-left, .light-theme .reverse {
        width: 40px;
        height: 40px;
    }
    
    .light-theme button {
        margin: 10px;
        background-color: lightgray;
        border: 0;
    }
    
    .light-theme img {
        pointer-events: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

}


@media screen and (max-width: 1000px) {

    .figure-black, .figure-white {
        font-size: 30px;
        max-height: 30px;
        cursor: pointer;
    }

    .figure_img {
        width: 30px; 
        height: 30px;
    }

    .container_chess_main {
        display: flex;
        flex-direction: row;
    }

    .dark-theme .chess_block {
        z-index: 5;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        min-width: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        align-content: center;
        -webkit-box-pack: center;
        justify-content: center;

    }

    .dark-theme .container_chess {
        position: relative;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        align-content: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .dark-theme table {
        width: 384px;
        height: 384px;
        border-collapse: collapse;
        border-spacing: 0;
    }

    .dark-theme .black {
        width: 40px;
        height: 40px;
        background-color: #B98A63;

        vertical-align: center;
        text-align: center;
    }

    .dark-theme .white {
        width: 40px;
        height: 40px;
        background-color: #F0DFB5;

        vertical-align: center;
        text-align: center;
    }

    .dark-theme .menu_chess {
        margin: 15px;
        position: relative;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .dark-theme .timer{
        display: none;
        height: 25px;
        width: 50px;
        vertical-align: center;
        text-align: center;
        padding: 5px;
        background-color: rgb(54, 52, 48);
        
    }

    .dark-theme .white_time_bar, .dark-theme .black_time_bar {
        display: none;
        width: 210px; 
        margin-left: 6px;
    }

    .dark-theme .time_enter {
        color: rgb(186, 174, 146);
        font-size: 20px;
    }

    .dark-theme .container_menu {
        display: -webkit-box;
        min-width: 220px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        height: 100px;
        background-color: rgb(54, 52, 48);
    }

    .dark-theme .right-right, .dark-theme .right, .dark-theme .left, .dark-theme .left-left, .dark-theme .reverse {
        width: 20px;
        height: 20px;
    }

    .dark-theme .btn_chess {
        width: 15px;
        height: 15px;
    }

    .dark-theme button {
        margin: 10px;
        border: 0;
        background-color: rgb(54, 52, 48);
    }

    .dark-theme img {
        pointer-events: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .figure-black, .figure-white {
        font-size: 30px;
        max-height: 30px;
        cursor: pointer;
    }

    .light-theme .chess_block {
        z-index: 5;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        min-width: 100%;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        align-content: center;
        -webkit-box-pack: center;
        justify-content: center;
    
    }
    
    .light-theme .container_chess{
        position: relative;
    
        display: -webkit-box;
    
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        align-content: center;
        -webkit-box-pack: center;
        justify-content: center;
    }
    
    .light-theme table {
        width: 320px;
        height: 320px;
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    .light-theme .black {
        width: 40px;
        height: 40px;
        background-color: #B98A63;
    
        vertical-align: center;
        text-align: center;
    }
    
    .light-theme .white {
        width: 40px;
        height: 40px;
        background-color: #F0DFB5;
    
        vertical-align: center;
        text-align: center;
    }
    
    .light-theme .menu_chess {
        margin: 30px;
        position: relative;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        justify-content: center;
    }
    
    .light-theme .timer{
        display: none;
        height: 50px;
        width: 100px;
        vertical-align: center;
        text-align: center;
        padding: 5px;
        background-color: lightgrey;
        
    }
    
    .light-theme .white_time_bar, .light-theme .black_time_bar {
        
        display: none;
        width: 300px; 
        margin-left: 6px;
    }
    
    .light-theme .time_enter {
        color: rgb(0, 0, 0);
        font-size: 30px;
    }
    
    .light-theme .container_menu {
        display: -webkit-box;
        min-width: 320px;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        height: 200px;
        padding-top: 10px;
        background-color: lightgrey;
    }
    
    .light-theme .right-right, .light-theme .right, .light-theme .left, .light-theme .left-left, .light-theme .reverse {
        width: 40px;
        height: 40px;
    }
    
    .light-theme button {
        margin: 10px;
        background-color: lightgray;
        border: 0;
    }
    
    .light-theme img {
        pointer-events: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

}




/*  EDUCATION  */

.light-theme .edu {
    margin-left: 250px; 
    margin-right: 250px;
    position: absolute;
    top: 150px;
}

.light-theme .education_main .edu {
    margin-left: 250px; 
    margin-right: 250px;
    position: absolute;
    top: 100px;
}

.education_main {
    overflow-y: auto;
}

.light-theme .info_for_edu {
    color: rgb(54, 52, 48);
    text-decoration: none;
}

.light-theme .info_for_edu:hover {
    color: black;
    text-decoration: none;
}

/*  DARK THEME   */

.dark-theme {
    z-index: 5;
    color: rgb(186, 174, 146);
    background-color: rgb(22, 21, 18);
}

/*  HEADER    */
.dark-theme header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.dark-theme .logo_header{
    z-index: 5;
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
    color: rgb(186, 174, 146);
}

.dark-theme .login_href {
    z-index: 5;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(186, 174, 146);
}

.dark-theme .settings, .dark-theme .fon, .dark-theme .style-figures, .dark-theme .style-board, .dark-theme .light, .dark-theme .dark, 
.dark-theme .figure_settings {
    z-index: 5;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(186, 174, 146);
}

.dark-theme .setting_exit {
    z-index: 5;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(186, 174, 146);
    border-bottom: solid rgb(78, 75, 69);
}

.dark-theme .game_header, .dark-theme .edu_header {
    z-index: 5;
    padding: 10px;
    margin-top: 8px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(186, 174, 146);
}

.dark-theme .logo_header:hover, .dark-theme .login_href:hover, .dark-theme .settings:hover, .dark-theme .fon:hover, .dark-theme .dark:hover, .dark-theme 
.light:hover, .dark-theme .game_header:hover, .dark-theme .edu_header:hover, .dark-theme .style-figures:hover, .dark-theme .style-board:hover, .dark-theme 
.setting_exit:hover, .dark-theme .light:hover, .dark-theme .dark:hover, .dark-theme .figure_settings:hover {
    z-index: 5;
    color: white;
}

.dark-theme .dropdown, .dark-theme .dropdown_fon {
    z-index: 5;
    margin-top: 10px;
    position: relative;
}

.dark-theme .dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    right: -50px;
    background-color: rgb(60, 57, 52);
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgb(60, 57, 52);
    z-index: 5;
}

.dark-theme .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}




/*  LOGIN   */
.dark-theme .login_block{
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;    
    visibility: hidden;
}

.dark-theme .container_login {
    position: absolute;
    padding: 30px;
    background-color: rgb(60, 57, 52);
    box-shadow: 0px 8px 16px 0px rgb(60, 57, 52);

    display: -webkit-box;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.dark-theme .login_main_text {
    font-size: 30px;
    margin-bottom: 30px;
}

.dark-theme .error {
    color: red;
    margin-bottom: 20px;
    font-size: 20px;
}

.dark-theme .login_inp, .dark-theme .password_inp {
    height: 22px;
    width: 270px;
    font-size: 15px;
    margin-bottom: 30px;
}

.dark-theme .login_text{
    font-size: 16px;
    margin-bottom: 5px;
}

.dark-theme #enter {
    font-size: 25px;
    margin-bottom: 20px;
    width: 278px;
    background-color: blue;
    color: rgb(186, 174, 146);
    border: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.dark-theme #enter:hover {
    background-color: #3552CF;
}


/*  MAIN   */


.dark-theme main {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    visibility: visible;
}

.dark-theme .container_main {
    z-index: 1;
    position: absolute;
    padding: 30px;
    background-color: rgb(54, 52, 48);

    display: -webkit-box;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.dark-theme .main_href{
    z-index: 2;
    padding: 10px;
    color: rgb(186, 174, 146);
    font-size: 30px;
    text-decoration: none;
}

.dark-theme .main_href:hover{
    z-index: 5;
    color: white;
}

.dark-theme .start_game_block {
    z-index: 6;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    visibility: hidden;
}

.dark-theme .container_start_game {
    z-index: 6;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.dark-theme .container_extra {
    z-index: 6;
    position: relative;
    padding-bottom: 30px;
    background-color: rgb(60, 57, 52);
    box-shadow: 0px 8px 16px 0px rgb(60, 57, 52);

    display: -webkit-box;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.dark-theme .control_time_block {
    z-index: 6;
    padding: 20px;
    background-color: rgb(60, 57, 52);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 20px;
}

.dark-theme .color_start_game_block {
    z-index: 6;
    padding: 20px;
    padding-bottom: 40px;
    background-color: rgb(60, 57, 52);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 20px;
}

.dark-theme .start_game_call {
    z-index: 6;
    color: rgb(186, 174, 146);
    font-size: 30px;
    text-decoration: none;
}

.dark-theme .start_game_call:hover{
    z-index: 6;
    color: white;
}

.dark-theme .close {
    z-index: 8;
    position: absolute;
    width: 42px;
    height: 42px;
    top: -20px;
    left: 415px;
    font-size: 38px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background-color: rgb(43, 40, 37);
}

.dark-theme .close:hover {
    z-index: 8;
    color: white;
    background-color: red;
}

.dark-theme .time_control {
    z-index: 6;
    color: rgb(186, 174, 146);
    width: 150px;
    height: 30px;
    font-size: 18px;
    background-color: rgb(38, 36, 33);
}

.dark-theme .control_time_block {
    z-index: 6;
    padding-left: 60px;
    padding-right: 60px;
    background-color: rgb(48, 46, 44);
}

.dark-theme .color_control {
    z-index: 6;
    color: rgb(186, 174, 146);
    width: 150px;
    height: 30px;
    font-size: 18px;
    background-color: rgb(38, 36, 33);
}

.dark-theme .extra_time_menu{
    z-index: 6;
    padding-top: 20px;
    padding-bottom: 10px;
    display: none;
}

.dark-theme input[type=range] {
    background-color: rgb(77, 77, 77);
    display: block;
    padding: 0 0.1em;
    width: 100%;
    height: 20px;
    
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    border: 1px solid rgb(77, 77, 77);

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.dark-theme input[type='range']::-webkit-slider-thumb {
    width: 30px;
    -webkit-appearance: none;
    height: 18px;
    cursor: pointer;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    
    background: rgb(38, 36, 33);
}



/*  EDUCATION  */

.dark-theme .edu {
    position: absolute;
    top: 150px;
}

.dark-theme .education_main .edu {
    margin-left: 50px; 
    margin-right: 50px;
    position: absolute;
    top: 100px;
}

.education_main {
    overflow-y: auto;
}

.dark-theme .info_for_edu {
    color: rgb(186, 174, 146);
    text-decoration: none;
}

.dark-theme .info_for_edu:hover {
    color: white;
    text-decoration: none;
}
